// Primary colors
$primary1: #01080E;//
$primary2: #011627;//
$primary3: #011221;//

// Secondary colors
$secondary1: #607B96;//
$secondary2: #3C9D93;//
$secondary3: #4D5BCE;//
$secondary4: #FFF;

// Accent colors
$accent1: #FEA55F;//
$accent2: #43D9AD;//
$accent3: #E99287;//
$accent4: #C98BDF;//

// --------------------------------------------

$lines: #1E2D3D;//
$gradients1: #4D5BCE;//
$gradients2: #43D9AD;//

// --------------------------------------------

$headline-size: 62px;//
$sub-headline-size: 32px;//
$body-text-size: 18px;//
$labels-size: 16px;//
$code-snippets-size: 14px;//

// --------------------------------------------

$hi: 20px;