<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="this is the portfolio of the full stack developer Bader-Idris">
  <title>portfolio Bader Idris</title>
  <link rel="stylesheet" href="public/css/normalize.css">
  <link rel="stylesheet" href="public/css/fontawesome.min.css">
  <link rel="stylesheet" href="public/css/styles.css">
</head>
<body>
  <main>
    <nav>
      <ul>
        <li class="home">home</li>
        <li class="projects">projects</li>
        <li class="about">about</li>
      </ul>
    </nav>
    <div class="logo"><a href="/">Bader Idris</a></div>
  </main>
  <section>
    <aside>
      <ul class="topics">
        <li class="">lorem</li>
        <li class="">lorem</li>
        <li class="">lorem</li>
      </ul>
    </aside>
    <section>
      <div class="landing-page">landing page</div>
    </section>
  </section>
  <footer>
    <div class="contact-me">contact me</div>
  </footer>
  <script src="public/js/main.js"></script>
</body>
</html>